client/__pycache__/config.cpython-39.pyc
server/__pycache__/app.cpython-39.pyc
server/__pycache__/config.cpython-39.pyc
server/__pycache__/functions.cpython-39.pyc
server/__pycache__/models.cpython-39.pyc
server/__pycache__/pricing_functions.cpython-39.pyc
server/__pycache__/sound_functions.cpython-39.pyc
server/__pycache__/system_pricing_functions.cpython-39.pyc
server/__pycache__/app.cpython-39.pyc
server/__pycache__/functions.cpython-39.pyc
server/__pycache__/models.cpython-39.pyc
server/__pycache__/app.cpython-39.pyc
server/__pycache__/functions.cpython-39.pyc
server/__pycache__/models.cpython-39.pyc
server/__pycache__/*
discord/token.txt
server/__pycache__/app.cpython-39.pyc
server/__pycache__/functions.cpython-39.pyc
server/__pycache__/models.cpython-39.pyc
