{% extends 'template.html' %}

{% block page_title %}
Game Prices| Admin | GRID Server
{% endblock %}

{% block body %}

<div id="admin_btn_container">
    <button onclick="window.location.assign('/admin/item-prices')" class="btn btn-outline-success">Edit Item Prices</button>
    <button onclick="window.location.assign('/admin/system-prices')" class="btn btn-outline-success">Edit System Prices</button>
    <button onclick="window.location.assign('/admin/game-prices')" class="btn btn-outline-success">Edit Game Prices</button>
    <button onclick="window.location.assign('/admin/techs')" class="btn btn-outline-success">Edit Tech List</button>
</div>

{% endblock %}