{% extends 'template.html' %}

{% block page_title %}
Console Logs | GRID Server
{% endblock %}

{% block body %}
<script src='static/js/consolelog.js'></script>

<!--Data Entry-->
<form onsubmit="return renderSubmission()">
    <input type="text" name="initials" value="" id='initialsSubmit' style="display: none"/>
    <!--Data Entry Table-->
    <div class="data-entry-container" style='grid-template-columns: 1fr;'>
        <!-- LEFT SIDE -->
        <div class="data-entry-part" style="max-width: 800px;">
            <!-- Console Brand -->
            <div class="data-entry-label-and-input">
                <p>Brand: </p>
                <select name="brand" id="select_console_brand" required>
                    <option value="" selected disabled hidden>Select One...</option>
                    <option value="Nintendo">Nintendo</option>
                    <option value="Sony">Sony</option>
                    <option value="Microsoft">Microsoft</option>
                    <option value="Sega">Sega</option>
                    <option value="Atari">Atari</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <!-- Console -->
            <div class="data-entry-label-and-input">
                <p>Console: </p>
                <select name="console" id="select_console_model" disabled required>
                    <option value="" selected disabled hidden>Select One...</option>
                </select>
            </div>
            <!-- Special Model -->
            <div class="data-entry-label-and-input">
                <p>Sp. Model: </p>
                <input type="text" id="select_console_special_model" placeholder="leave blank is n/a">
            </div>
            <!-- Special Model -->
            <div class="data-entry-label-and-input-double">
                <p>Color: </p>
                <input type="text" id="input_console_color" placeholder="leave blank if base">
                <p>HDD (GB): </p>
                <input type="text" id="input_console_hdd_size" placeholder='leave blank if none'>
            </div>
            <!-- Special Model -->
            <div class="data-entry-label-and-input-double">
                <p>Price: </p>
                <input type="text" id="input_console_price" required>
                <p>Tech: </p>
                <input type="text" id="input_console_tech" required>
            </div>
        </div>
    </div>

    <!--Submission Section-->
    <div class="data-submission-container">
        <button name="button" class="btn" style="background-color: #aea;" id='submitButton'>Submit</button>
    </div>
    <!-- Submission modal container-->
    <div id='submission-modal-container'> 
        <div class="modal fade" id="submission_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="submission-modal-title"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="submission-modal-body" class="modal-body">
                  
                </div>
                <div id="submission-modal-footer" class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" id="submission-modal-button" class="btn btn-primary">Submit</button>
                    <img id="loading-gif" src="static/img/loading.gif" style="display: none; width: 32px; height: 32px;"></img>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!--Submission Script-->
    <script>
        function renderSubmission() {
            console.log('Button Clicked!');

            try {
                let submission = {
                    'brand': document.querySelector('#select_console_brand').value,
                    'console': document.querySelector('#select_console_model').value,
                    'special_color': document.querySelector('#input_console_color').value,
                    'special_model': document.querySelector('#select_console_special_model').value,
                    'hdd_size': document.querySelector('#input_console_hdd_size').value,
                    'price': document.querySelector('#input_console_price').value,
                    'tech': document.querySelector('#input_console_tech').value
                };
                //console.log('JSON Data Rendered:\n' + JSON.stringify(submission));

                document.querySelector("#submission-modal-title").innerHTML = 'New Console';
                document.querySelector("#submission-modal-body").innerHTML = submissionStringGenerator(submission);
                let submissionModalElement = document.getElementById('submission_modal');
                let submissionModal = new bootstrap.Modal(submissionModalElement);
                submissionModal.toggle();

                document.querySelector("#submission-modal-button").addEventListener('click', function() {
                    this.style.display = "none";
                    document.querySelector("#loading-gif").style.display = "initial";
                    fetch('http://{{ host_ip }}:5000/consolelogs', {method: 'POST', body: JSON.stringify(submission)})
                    .then(response => response.json())
                    .then(data => {
                        alert('Submission Successful!')
                        window.location.reload()
                    })
                    .catch (error => {
                        this.style.display = "initial";
                        document.querySelector("#loading-gif").style.display = "none";
                        alert('An error occured.\n\nDetails: ' + error);
                        console.log(error);
                    });
                    
                });
                //return false to cancel default form submission
                //instead relying on API call from submission modal
                return false;
            } catch (error) {
                console.log(error);
                return false;
            }
            return false;
        }
    
        //string generator for bootstrap modals
        function submissionStringGenerator(entry) {
            return `` +
            `<p><b>Console</b>: ${entry.console} ${(entry.special_color ? `(${entry.special_color})` : '')} ${(entry.special_model ? `[${entry.special_model}]` : '')}</p>` + 
            `${(entry.hdd_size ? `<p><b>HDD Size</b>: ${entry.hdd_size}GB` : '')}` + 
            `<p><b>Price</b>: $${entry.price}</p>` + 
            `<p><b>Tech</b>: ${entry.tech}</p>` + 
            ``;
        }
    </script>

    <!-- Console Selection Script -->
    <script>
        let console_brand_selector = document.querySelector('#select_console_brand')
        console_brand_selector.addEventListener('change', () => {
            loadConsoleList()
        })

        function loadConsoleList() {
            let console_selector = document.querySelector('#select_console_model')
            let selection = console_brand_selector.options[console_brand_selector.selectedIndex].value
            console_selector.innerHTML = ''
            console_selector.removeAttribute('disabled')
            if (consoleList[selection]) {
                    // create initial console option
                    let consoleOption = document.createElement("optgroup")
                    consoleOption.setAttribute('label', 'Consoles')
                    //loop through console options and add
                    consoleList[selection]['Consoles'].forEach((item) => {
                        let new_option = document.createElement("option")
                        new_option.innerHTML += item
                        consoleOption.appendChild(new_option)
                    })
                    console_selector.appendChild(consoleOption)


                    // create initial console option
                    let handheldOption = document.createElement("optgroup")
                    handheldOption.setAttribute('label', 'Handhelds')
                    //loop through console options and add
                    consoleList[selection]['Handhelds'].forEach((item) => {
                        let new_option = document.createElement("option")
                        new_option.innerHTML += item
                        handheldOption.appendChild(new_option)
                    })
                    console_selector.appendChild(handheldOption)
            } else if (selection === 'Other') {
                let other_brand = prompt('Please enter Brand name')
                if (other_brand) {
                    let other_console = prompt('Please enter console name')
                    if (other_console) {
                        console_brand_selector.options[console_brand_selector.selectedIndex].value = other_brand
                        console_brand_selector.options[console_brand_selector.selectedIndex].innerHTML = `Other - ${other_brand}`
                        console_selector.innerHTML = ''
                        let new_option = document.createElement("option")
                        new_option.innerHTML += other_console
                        new_option.value = other_console
                        console_selector.appendChild(new_option)
                    } else {
                        alert('Process aborted')
                        console_selector.setAttribute('disabled',true)
                        return
                    }  
                } else {
                    alert('Process aborted')
                    console_selector.setAttribute('disabled',true)
                    return
                }

            } else {
                console_selector.setAttribute('disabled',true)
            }
        }
    </script>
</form>

<!--Information Table-->
<table class="table table-striped table-hover table-bordered" id='tableConsoleLog' >
    <thead>
        <tr>
        <th>Date</th>
        <th>Console</th>
        <th>Price</th>
        <th>Options</th>
        </tr>
    </thead>
    <tbody id='tableConsoleLogBody'>

    </tbody>
</table>

<!--Loading Thing-->
<div id='table-loading-indicator' style='display: grid; width: 100%; margin: auto;'>
    <img src='static/img/loading.gif' style='width: 64px; height: 64px; margin: auto;'>
    <h4 style="color: #aaa; margin: auto;">Loading</h4>
</div>

<!--Pagination-->
<nav style="width: 50%; margin: auto;">
    <ul id='console_log_pagination' class="pagination pagination-sm justify-content-center">
    </ul>
</nav>

<!--Entry Modal-->
<div class="" id='tableModalContainer'>
    <div class="modal fade" id="modal-system-viewer">

    </div>
</div>

<!-- LOAD TABLE -->
<script>
    let consoles;
    let currentPage = 1;
    let itemsPerPage = 10;
    let numItems, numTotalPages;
    let tableBodyId = 'tableConsoleLogBody';
    fetch('http://{{ host_ip }}:5000/consolelogs')
    .then(response => response.json())
    .then(data => {
        consoles = data.reverse()
        numItems = consoles.length
        numTotalPages = Math.ceil(numItems/itemsPerPage)
        //load into table
        loadTable(currentPage)
        loadConsoleList()
    })
    .catch(error => console.log(error))

    function loadTable(selectedPage) {
        //show loading thing
        document.querySelector('#table-loading-indicator').style.display = 'grid';
        let tableBody = document.querySelector(`#${tableBodyId}`)
        tableBody.innerHTML = ''
        let indexMul = selectedPage - 1

        // selected page range check
        if (selectedPage > numTotalPages || selectedPage < 0) {
            console.log('Error: selected page is out of range')
            alert('Error in pagination. Contact developer')
            return -1;
        }

        try {
            for (let i = indexMul*itemsPerPage; i < selectedPage*itemsPerPage; i++) {
                //replace this list with appropriate data names in other instances
                let row_data = {
                    "_id": consoles[i]['_id'],
                    "console": consoles[i]['console'],
                    "special_color": consoles[i]['special_color'],
                    "special_model": consoles[i]['special_model'],
                    "hdd_size": consoles[i]['hdd_size'],
                    "dt": consoles[i]['dt_initial_irl_log'],
                    "price": consoles[i]['price'],
                }
                
                //create new table row
                let new_row = document.createElement('tr')
                let tdata;

                tdata = document.createElement('th')
                tdata.appendChild(document.createTextNode(`${formatDateString(row_data['dt'])}`))
                new_row.appendChild(tdata)

                tdata = document.createElement('th')
                tdata.appendChild(document.createTextNode(`${row_data['console']} ${(row_data['color'] && row_data['color'] != 'None' ? `(${row_data['color']})` : '')} ${(row_data['special_model'] && row_data['special_model'] != 'None' ? `[${row_data['special_model']}]` : '')}`))
                new_row.appendChild(tdata)

                tdata = document.createElement('th')
                tdata.appendChild(document.createTextNode(`$${row_data['price']}`))
                new_row.appendChild(tdata)

                //print btn
                let btnContainer = document.createElement('div')
                btnContainer.setAttribute('class', 'tableStockListButtonContainer')
                btnContainer.style = 'grid-template-columns: 1fr'
                let btn = document.createElement('button')
                btn.setAttribute('id', `print_${row_data['_id']}`)
                btn.setAttribute('class', 'btn')
                btn.addEventListener('click', function() {
                    alert(`Print click! ID: ${row_data['_id']}`)
                    //stops row click from happening
                    event.stopPropagation();   
                })
                btn.appendChild(document.createTextNode('Print'))
                btnContainer.appendChild(btn)
                new_row.appendChild(btnContainer)

                new_row.setAttribute('id', `console_row_${row_data['_id']}`)
                new_row.setAttribute('class', 'align-middle')

                //add modal review function to row
                new_row.addEventListener('click', () => {
                    renderSystemModal(new_row.id)
                })

                //add row to table body
                tableBody.appendChild(new_row)
            }
        } catch(error) {
            console.log(error)
        }
    
        //hide loading thing
        document.querySelector('#table-loading-indicator').style.display = 'none';

        //load pagination
        loadPagination(currentPage)
    }


    //render system modal
    function renderSystemModal(id) {
        let console_id = id.replace('console_row_', '')
        let console_info;
        consoles.every(e => {
            console.log(`Comparison: \n${e._id}\n${console_id}`)
            if (e._id.localeCompare(console_id) == 0) {
                console.log('Console found')
                console_info = e
                console.log(console_info)
                return false
            }
            return true
        })

        tableModal = document.querySelector('#modal-system-viewer');
        tableModal.innerHTML =
        '<div class="modal-dialog modal-xl">' +
            '<div class="modal-content">' +
                '<div class="modal-header">' +
                    `<h5 class="modal-title"> ${console_info.brand} ${console_info.console} - ${formatDateString(console_info.dt_initial_irl_log)}</h5>` +
                    '<button id="system-modal-close-'+console_info._id+'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                '</div>' +
                '<div class="modal-body">' +
                        entryStringGenerator(console_info) +
                '</div>' +
                '<div class="modal-footer justify-content-between">' +
                    '<button id="edit-btn-delete-'+console_info._id+'"type="button" class="btn btn-danger" style="visibility: hidden;" onclick="deleteConsoleLog(this)">Delete</button>' +
                    '<div>' + 
                        '<button id="edit-btn-close-'+console_info._id+'"type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>' +
                        '<button id="edit-btn-'+console_info._id+'" type="button" class="btn btn-primary" style="margin-left: 10px;">Edit</button>' +
                        '<button id="edit-btn-cancel-'+console_info._id+'"type="button" class="btn btn-secondary" style="display: none;">Cancel</button>' +
                        '<button id="edit-btn-submit-'+console_info._id+'" type="button" class="btn btn-primary" style="display: none; margin-left: 10px;">Submit</button>' +
                    '</div>' +
                '</div>' +
            '</div>' +
        '</div>' +
        '';

        //add edit button functionalities
        document.querySelector('#edit-btn-'+console_info._id).addEventListener('click', function() {
            this.style.display = "none";
            document.querySelector('#edit-btn-close-'+console_info._id).style.display = "none";
            document.querySelector('#system-modal-data-'+console_info._id).style.display = "none";
            document.querySelector('#edit-btn-cancel-'+console_info._id).style.display = "initial";
            document.querySelector('#edit-btn-submit-'+console_info._id).style.display = "initial";
            document.querySelector('#edit-btn-delete-'+console_info._id).style.visibility = "visible";
            document.querySelector('#system-modal-data-edit-'+console_info._id).style.display = "grid";
        });
        document.querySelector('#edit-btn-cancel-'+console_info._id).addEventListener('click', function() {
            this.style.display = "none";
            document.querySelector('#edit-btn-close-'+console_info._id).style.display = "initial";
            document.querySelector('#system-modal-data-'+console_info._id).style.display = "grid";
            document.querySelector('#edit-btn-cancel-'+console_info._id).style.display = "none";
            document.querySelector('#edit-btn-submit-'+console_info._id).style.display = "none";
            document.querySelector('#edit-btn-delete-'+console_info._id).style.visibility = "hidden";
            document.querySelector('#system-modal-data-edit-'+console_info._id).style.display = "none";
            document.querySelector('#edit-btn-'+console_info._id).style.display = "initial";
        });
        document.querySelector('#edit-btn-submit-'+console_info._id).addEventListener('click', function() {
            //console.log('TODO: complete U functionality');
            document.querySelector('#edit-button-submit-trigger-'+console_info._id).click();
        });

        let myModal = new bootstrap.Modal(document.getElementById('modal-system-viewer'))
        myModal.toggle();
    }

    //string generator for bootstrap modals
    function entryStringGenerator(entry) {
        let static_data= 
        '<div id="system-modal-data-'+entry._id+'"class="system-modal-data">' + 
            `<p><b>Console: </b>${entry.brand} ${entry.console} ${(entry.special_color && entry.special_color.localeCompare('None') != 0 ? `(${entry.special_color})` : ``)} ${entry.special_model && entry.special_model.localeCompare('None') != 0  ? `[${entry.special_model}]` : ``}</p>` +
            `${(entry.hdd_size && entry.hdd_size > 0 ? `<p><b>HDD Size: </b> ${entry.hdd_size}GB` : ``)}` +
            `<p><b>Price: </b>$${entry.price}</p>` +
            `<p><b>Tech: </b>${entry.tech}</p>` +
        '</div>';
        let edit_data = 
        '<form id="system-edit-form-'+entry._id+'" onsubmit="return submitEdit(this)">' + 
            '<div id="system-modal-data-edit-'+entry._id+'" class="system-modal-data-edit" style="display: none;">' + 
                '<div class="system-modal-data-edit-left">' + 
                    '<p><b>Brand: </b><input id="edit-brand-'+entry._id+'" type="text" value="' + entry.brand + '" required></p>' +
                    '<p><b>Console: </b><input id="edit-console-'+entry._id+'" type="text" value="' + entry.console + '" required></p>' +
                    '<p><b>Special Model: </b><input placeholder="leave blank if N/A" id="edit-special-model-'+entry._id+'" type="text" value="' + entry.special_model + '" ></p>' +
                    '<p><b>Color: </b><input placeholder="leave blank if base" id="edit-color-'+entry._id+'" type="text" value="' + entry.special_color + '" ></p>' +
                    '<p><b>HDD Size (GB): </b><input placeholder="leave blank if N/A" id="edit-hdd-'+entry._id+'" type="text" value="' + entry.hdd_size + '" ></p>' +
                    '<p><b>Price: </b><input id="edit-price-'+entry._id+'" type="text" value="' + entry.price + '" required></p>' +
                    '<p><b>Tech: </b><input id="edit-tech-'+entry._id+'" type="text" value="' + entry.tech + '" required></p>' +
                '</div>' + 
            '</div>' + 
            '<button type="submit" id="edit-button-submit-trigger-'+entry._id+'" style="visibility: hidden;">' + 
        '</form>';

        return static_data + edit_data;
    }
    //function to render pagination
    function loadPagination(num) {
        //get pagination
        let pagination = document.querySelector('#console_log_pagination');
        //clear pagination
        pagination.innerHTML = "";
        //add prev to pagination if not available
        pagination.innerHTML += '<li class="page-item '+(num == 1 ? 'disabled' : '') +'"><a id="system-log-page-prev" onclick="changePage(this)"class="page-link"'+(num != 1 ? 'style="background-color: var(--green); border: solid 1px var(--green);"' : '')+'>Prev</a></li>'
        //add pagination
        if (numTotalPages <= 8) {
            for (let i = 1; i <= numTotalPages; i++) {
                pagination.innerHTML += '<li class="page-item '+(num == i ? 'active' : '')+'" ><a class="page-link" id="system-log-page-'+i+'" onclick="changePage(this)">'+i+'</a></li>'; 
            }
        } else {
            if (num <= 4 || num >= numTotalPages - 3) {
                // 1 2 3 ... 98 99 100 N
                for (let i = 1; i <=4; i++) {
                    try {
                        pagination.innerHTML += '<li class="page-item '+(num == i ? 'active' : '')+'" ><a class="page-link" id="system-log-page-'+i+'" onclick="changePage(this)">'+i+'</a></li>'; 
                    } catch (error) {
                        console.log(error);
                    }  
                }
                pagination.innerHTML += '<li class="page-item" ><a class="page-link" id="system-log-page-elipses" onclick="changePage(this)">...</a></li>';   
                for (let i = numTotalPages - 3; i <=numTotalPages; i++) {
                    try {
                        pagination.innerHTML += '<li class="page-item '+(num == i ? 'active' : '')+'" ><a class="page-link" id="system-log-page-'+i+'" onclick="changePage(this)">'+i+'</a></li>';   
                    } catch (error) {
                        console.log(error);
                    }
                }
            } else {
                //P 1 ... 49 50 51 ... 100
                pagination.innerHTML += '<li class="page-item" ><a class="page-link" id="system-log-page-1" onclick="changePage(this)">1</a></li>'; 
                pagination.innerHTML += '<li class="page-item" ><a class="page-link" id="system-log-page-elipses-left" onclick="changePage(this)">...</a></li>'; 
                //console.log('Num given: ' + num);
                //console.log('Num range: (' + (num-2) + ', ' + (num+2) + ')')
                for (let i = Number.parseInt(num)-2; i <= Number.parseInt(num)+2; i++) {
                    //console.log('Current Value of i: ' + i)
                    pagination.innerHTML += '<li class="page-item '+(num == i ? 'active' : '')+'" ><a class="page-link" id="system-log-page-'+i+'" onclick="changePage(this)">'+i+'</a></li>';
                }
                pagination.innerHTML += '<li class="page-item" ><a class="page-link" id="system-log-page-elipses-right" onclick="changePage(this)">...</a></li>';   
                pagination.innerHTML += '<li class="page-item" ><a class="page-link" id="system-log-page-1" onclick="changePage(this)">'+numTotalPages+'</a></li>';
            }
        }
        
        //add next
        pagination.innerHTML += '<li class="page-item '+(num == numTotalPages || numTotalPages <= 1 ? 'disabled' : '') +'"><a id="system-log-page-next" onclick="changePage(this)"class="page-link"'+(num != numTotalPages ? 'style="background-color: var(--green); border: solid 1px var(--green);"' : '')+'>Next</a></li>'
    }

    function changePage(pageItem) {
        try {
            currentPage = Number.parseInt(pageItem.id.replace('console_log_page_', ''))
            loadTable(currentPage)
            loadPagination(currentPage)
        } catch (error) {
            console.log(error)
        }
    }
</script>

<!-- SUBMIT EDIT -->
<script>
    function submitEdit(form) {
        let console_edit_id = form.id.replace('system-edit-form-', '')
        let edit_submission
        try {
            edit_submission = {
                'brand': form.querySelector(`#edit-brand-${console_edit_id}`).value,
                'console': form.querySelector(`#edit-console-${console_edit_id}`).value,
                'special_model': form.querySelector(`#edit-special-model-${console_edit_id}`).value,
                'special_color': form.querySelector(`#edit-color-${console_edit_id}`).value,
                'hdd_size': form.querySelector(`#edit-hdd-${console_edit_id}`).value,
                'price': form.querySelector(`#edit-price-${console_edit_id}`).value,
                'tech': form.querySelector(`#edit-tech-${console_edit_id}`).value,
            }
        } catch (error) {
            console.log(error)
            return false
        }
        fetch(`http://{{ host_ip }}:5000/consolelogs/${console_edit_id}`, {method: 'PUT', body: JSON.stringify(edit_submission)})
        .then(response => response.json())
        .then(data => {
            console.log(data)
            alert('Console information updated successfully')
            window.location.reload()
        })
        .catch(error => {
            alert(error)
            console.log(error)
        })
        return false
    }
</script>

<!-- DELETE CONSOLE SCRIPT -->
<script>
    function deleteConsoleLog(delete_btn) {
        let system_id = delete_btn.id.replace('edit-btn-delete-', "");
        if (confirm('Are you SURE you want to delete this log? This cannot be undone.')) {
            let apiURL = 'http://{{ host_ip }}:5000/consolelogs/' + system_id;
            fetch(apiURL, {method: 'DELETE'})
            .then(response => {
                alert('Log deleted successfully');
                window.location.reload();
            })
            .catch(error => {
                alert(error)
            });
        } else {
            console.log('No!');
        }
    }
</script>

{% endblock %}