{% extends 'template.html' %}

{% block page_title %}
Home | GRID Server
{% endblock %}

{% block body %}
    <p>Hello Tech! Welcome to the <strong>New World BETA</strong> server! Help test stuff out!</p>
    <p>Functioning Links:</p>
    <a href='syslogs'>System Logs</a><br></p>
    <a href="gcomm">G-COMM Logs</a></p>
    <a href="work-orders">Work Orders</a></p>
    <a href="prices">Prices</a></p>
    <a href="consolelogs">Console Logs</a></p>
    <a href="console-gcomm">Console GCOMM</a></p>
    <a href="techs">Techs</a></p>
    <a href="admin">Admin</a> (In Progress)</p>
{% endblock %}