{% extends 'template.html' %}

{% block page_title %}
Home | GRID Server
{% endblock %}

{% block body %}
    <p>Hello Tech! Welcome to the <strong>New World BETA</strong> server! Help test stuff out!</p>
    <p>Functioning Links:</p>
    <a href='syslogs'>System Logs</a><br></p>
    <a href="gcomm">G-COMM Logs</a></p>
    <a href="work-orders">Work Orders</a></p>
    <a href="prices">Prices</a></p>
    <a href="consolelogs">Console Logs</a></p>
    <a href="console-gcomm">Console GCOMM</a></p>
    <a href="techs">Techs</a></p>
    <a href="admin">Admin</a></p>
    <a href="game-prices">Game Prices</a></p>
    <a href="labels">Labels</a> (In Progress)</p>
    <select name="print_location" id="select_print_location">
        <option value="GOC">GOC</option>
        <option value="Remote">Remote</option>
    </select>
    <script>
        let print_location_selector = document.querySelector('#select_print_location')
        print_location_selector.value = getCurrentPrintLocation()
        print_location_selector.addEventListener('change', function() {
            window.localStorage.setItem('print_location', print_location_selector.value)
        })
    </script>
{% endblock %}