{% extends 'template.html' %}

{% block page_title %}
Prices | GRID Server
{% endblock %}

{% block body %}
<!-- Search Tool -->
<div class="search-tools-container">
    <div class="input-group" style="width: 70%; margin: auto;">
        <input id='inputFilterByName' type="text" class="form-control" placeholder="Search by Name" oninput="filterPriceList()">
        <button id='btnPriceSearch' type="button" name="button"><img src="https://cdn.onlinewebfonts.com/svg/img_588.png" width="24px" height="24px" style="margin: auto 20px;" onclick="alert('search')"></img></button>
    </div>
</div>

<!-- Mobile filter Hamburger -->
<a data-bs-toggle="offcanvas" href="#offcanvasFilter" role="button" aria-controls="offcanvasFilter">
    <div id='mobileFilterBtn'>
        <img src="static/img/hamburger.png" alt="">
    </div>
</a>

<!-- Table And Flter Tabs -->
<div id='priceTableFilterComboContainer'>
    <div id='priceTableContainer' style="display: grid;">
        <table class='table table-striped table-hover table-bordered' id='tablePriceList'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width: 25%;">Price</th>
                </tr>
            </thead>
            <tbody id='tablePriceListBody'>
        
            </tbody>
        </table>
        <!--Loading Thing-->
        <div id='table_loading_indicator' style='display: grid; width: 100%; margin: auto; padding-top: 50px;'>
            <img src='static/img/loading.gif' style='width: 64px; height: 64px; margin: auto;'>
            <h4 style="color: #aaa; margin: auto;">Loading</h4>
        </div>
    </div>
    <div id='priceListFilterDivider' style='width: 1px; position: relative; left: 50%; background-color: #ccc;'></div>
    <div id='priceFilterContainer'>
        <div class="accordion" id="accordianFull">

        </div>
    </div>
    <!-- Mobile off canvas for filters -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="accordion" id="accordianMobile">

            </div>
        </div>
    </div>
</div>

<!-- LOAD Table with data -->
<script>
    let price_list;
    let filter_list = [];
    let categories;
    fetch(`${base_url}/api/v1/prices`)
    .then(response => response.json())
    .then(data => {
        price_list = data['price_list']
        categories = data['categories']

        // Sort price list by name
        price_list.sort((a, b) => {
            return a.name > b.name;
        })

        // Load price items into table
        price_list.forEach(element => {
            document.querySelector('#tablePriceListBody').innerHTML += generateTableRow(element)
        });

        // Load categories into side and mobile filters
        for (let c in categories) {
            document.querySelector('#accordianFull').innerHTML += getCategoryAccordian(categories[c], c)
            document.querySelector('#accordianMobile').innerHTML += getCategoryAccordian(categories[c], c)
        }

        //hide loading thing
        document.querySelector('#table_loading_indicator').style.display = 'none';
    })
    .catch(error => {
        console.log(error)
    })

    function getCategoryAccordian(item, itemName) {
        if (itemName != 'price_code') {
            return '' +  
            '<div class="accordion-item">' + 
                '<h2 class="accordion-header" id="categoryFullHeader'+itemName.replace(' ', '')+'">' +
    '                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#categoryFullBody'+itemName.replace(' ', '')+'" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">'+itemName+'</button>' + 
                '</h2>' +
                '<div id="categoryFullBody'+itemName.replace(' ', '')+'" class="accordion-collapse collapse" aria-labelledby="categoryFullHeader'+itemName.replace(' ', '')+'">' +
                    '<div class="accordion-body">' +
                        getCategoryCheckList(item, itemName) + 
                    '</div>' + 
                '</div>' + 
            '</div>';
        }
        return ''
    }

    function getCategoryCheckList(item, itemName) {
        let checkList = '';
        for (let i = 0; i < item.length; i++) {
            checkList += 
            '<div style="display: grid; grid-template-columns:  20% auto; width: 100%; padding-bottom: 10px;">' + 
                '<input type="checkbox" name="checkbox_'+itemName.replace(' ', '')+'_'+item[i]+'" onclick="toggleFilter(this)">' +
                '<label for="checkbox_'+itemName.replace(' ', '')+'_'+item[i]+'" >'+item[i]+'</label>' + 
            '</div>';
        }
        return checkList;
    }

    function toggleFilter(checkbox) {
        //checks/unchecks both desktop and mobile versions
        document.getElementsByName(checkbox.name).forEach(element => {
            element.checked = checkbox.checked;
        })

        //get full filter in array
        let stringSplit = checkbox.name.split('_')

        //if checked, add filter, else remove filter
        if (checkbox.checked) {
            //add to filter list
            filter_list.push([stringSplit[1], stringSplit[2]])

            //filter through list
            filterPriceList()

        } else {
            if (filter_list.length <= 1 && document.querySelector('#inputFilterByName').value.length <= 0) {
                filter_list = [];
                loadTable(price_list)
            } else {
                //remove from filter list
                let filter_index = -1;
                filter_list.forEach((element, index) => {
                    if (element[0] === stringSplit[1] && element[1] === stringSplit[2]) {
                        filter_index = index;
                    }
                })
                if (filter_index == -1) {
                    alert('Sorting error. Please consult developer')
                } else {
                    filter_list.splice(filter_index, 1)
                }

                //filter
                filterPriceList()
            }
        }

        //update table tag section
        updateTagList()
    }

    function updateTagList() {

    }

    function filterPriceList() {
        //clear table
        clearTable()

        //get name
        let nameString = document.querySelector('#inputFilterByName').value.toLowerCase()

        //filter by name
        let name_filter = []
        if (nameString.length > 0) {
            price_list.forEach(element => {
                if (element.name.toLowerCase().includes(nameString)) {
                    name_filter.push(element)
                }
            })
        } else {
            name_filter = price_list.map(x => x)
        }


        //filter by tag
        let tag_filter = []
        if (filter_list.length > 0) {
            name_filter.forEach(element => {
                filter_list.forEach(filter => {
                    console.log('----------------------------------------')
                    console.log('Filter ' + filter[0] + ' ' + filter[1])
                    console.log('Element ' + element.type_0 + ' ' + element.type_1)
                    console.log('----------------------------------------')
                    if ((element.type_0 == filter[0] && element.type_1 == filter[1])) {
                        console.log('Match Found!')
                        tag_filter.push(element)
                    }
                })
            })
        } else {
            tag_filter = name_filter.map(x => x)
        }

        //load table with filtered table
        loadTable(tag_filter)
    }

    function clearTable() {
        //clear table
        document.querySelector('#tablePriceListBody').innerHTML = ''
        //show loading thing
        document.querySelector('#table_loading_indicator').style.display = "grid";
    }

    function loadTable(data) {
        if (data.length > 0) {
            data.forEach(element => {
                document.querySelector('#tablePriceListBody').innerHTML += generateTableRow(element)
            });
            toggleNTHE(false);
        } else {
            toggleNTHE(true);
        }
        //remove loading thing
        document.querySelector('#table_loading_indicator').style.display = "none";
    }

    function toggleNTHE(isSet) {
        if (isSet) {
            try {
                document.querySelector('.imgNTHE').style.display = 'initial'
            } catch (error) {
                document.querySelector('#priceTableContainer').appendChild(no_thoughts_head_empty)
            }
        } else {
            try {
                document.querySelector('.imgNTHE').style.display = 'none'
            } catch (error) {
                //console.log(error);
            }
        }
    }

    function searchByTagAndName() {
        
    }

    function generateTableRow(item) {
        let currentPrice = getCurrentPrice(item);
        return '' +
        '<tr id="tr_'+item._id+'"onclick="displayPriceInfo(this)">' +
            '<td>' + item.name +'</td>' + 
            '<td>$' + currentPrice + '</td>' + 
        '</tr>'; 
    }

    function getCurrentPrice(item) {
        let price = 0;
        let price_history = item.price_history;
        let latestDate = new Date('1970-01-01');
        let elementDate;
        price_history.forEach(element => {
            elementDate = new Date(element.date)
            if (elementDate > latestDate) {
                latestDate = elementDate
                price = element.price
            }
        })
        return price
    } 

    function displayPriceInfo(table_row) {
        alert(table_row.id)
    }
</script>


{% endblock %}