{% extends 'template.html' %}

{% block page_title %}
Techs | GRID Server
{% endblock %}

{% block body %}
<table class="table table-striped table-hover table-bordered" id="tableTechList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Identifier</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody id="tableBodyTechList">
        <tr style="background-color: var(--green);">
            <td><b>All</b></td>
            <td>--</td>
            <td><div style="display: grid;"><button id='tech_report_all' class='btn' style='margin: auto;' onclick="showReportModal('ALL')">Report</button></div></td>
        </tr>
    </tbody>
</table>

<!--Loading Thing-->
<div id='table-loading-indicator' style='display: grid; width: 100%; margin: auto;'>
    <img src='static/img/loading.gif' style='width: 64px; height: 64px; margin: auto;'>
    <h4 style="color: #aaa; margin: auto;">Loading</h4>
</div>

<!--edit Modal-->
<div class="modal fade" id="modal_tech_edit">

</div>

<!--report Modal-->
<div class="modal fade" id="modal_tech_report">

</div>


<script>
    let original_data, new_data
    fetch(`${base_url}/api/v1/techs`)
    .then(response => response.json())
    .then(data => {
        original_data = data.sort((a, b) => {
            if (a.last_name > b.last_name) {
                return 1
            } else {
                return 0
            }
        })
        new_data = original_data
        original_data.forEach(e => {
            document.querySelector('#tableBodyTechList').innerHTML += createTableRow(e)
        })
        document.querySelector('#table-loading-indicator').style.display = 'none';
        
        // Add click functions to buttons
        original_data.forEach(e => {
            let report_btn = document.querySelector(`#tech_report_${e.id}`)
            report_btn.addEventListener('click', () => {
                // generate modal information
                showReportModal(e)
            })
            document.querySelector(`#tech_edit_${e.id}`).addEventListener('click', () => {
                // generate modal informaiton
                showEditModal(e)
            })
        })
    })
    .catch(error => {
        alert(error)
        console.log(error)
    })

    function showReportModal(data) {
        let report_modal = document.querySelector('#modal_tech_report')
        report_modal.innerHTML = generateReportModal(data)
        report_modal = new bootstrap.Modal(document.getElementById('modal_tech_report'))
        report_modal.toggle()
    }

    function showEditModal(data) {
        let edit_modal = document.querySelector('#modal_tech_edit')
        edit_modal.innerHTML = generateEditModal(data)
        edit_modal = new bootstrap.Modal(document.getElementById('modal_tech_edit'))
        edit_modal.toggle()
    }

    function generateReportModal(tech) {
        return '' +
        '<div class="modal-dialog modal-l modal-dialog-centered">' +
            '<div class="modal-content">' +
                '<div class="modal-header">' +
                    `<h5 class="modal-title">${(tech.first_name ? tech.first_name : 'ALL TECHS')} ${(tech.last_name ? tech.last_name : '')}</h5>` +
                    '<button id="system-modal-close-'+tech.id+'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                '</div>' +
                '<div class="modal-body">' +
                    '<div class="parin_container">' +
                        '<p>Start Date</p>' +
                        '<input type="date" id="report_start_date">' +  
                    '</div>' + 
                    '<div class="parin_container">' +
                        '<p>End Date</p>' +
                        '<input type="date" id="report_end_date">' +  
                    '</div>' + 
                '</div>' +
                '<div class="modal-footer justify-content-between">' +
                    '<button id="edit-btn-close"type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>' +
                    `<button id="edit-btn" type="button" class="btn btn-primary" style="margin-left: 10px;" onclick="generateReport('${(tech.id ? tech.id : 'ALL')}')">Submit</button>` +
                '</div>' +
            '</div>' +
        '</div>' +
        '';
    }

    function generateEditModal(tech) {
        return '' +
        '<div class="modal-dialog modal-l modal-dialog-centered">' +
            '<div class="modal-content">' +
                '<div class="modal-header">' +
                    `<h5 class="modal-title">${tech.first_name} ${tech.last_name}</h5>` +
                    '<button id="system-modal-close-'+tech.id+'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                '</div>' +
                '<div class="modal-body">' +
                    '<div class="parin_container">' +
                        '<p>First Name</p>' +
                        `<input type="text" id="edit_tech_fn" value="${tech.first_name}">` +  
                    '</div>' + 
                    '<div class="parin_container">' +
                        '<p>Last Name</p>' +
                        `<input type="text" id="edit_tech_ln" value="${tech.last_name}">` +  
                    '</div>' + 
                    '<div class="parin_container">' +
                        '<p>Tech ID</p>' +
                        `<input type="text" id="edit_tech_id" value="${tech.id}">` +  
                    '</div>' + 
                '</div>' +
                '<div class="modal-footer justify-content-between">' +
                    '<button id="edit-btn-close"type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>' +
                    `<button id="edit-btn" type="button" class="btn btn-primary" style="margin-left: 10px;" onclick="editTech('${tech.id}')">Submit</button>` +
                '</div>' +
            '</div>' +
        '</div>' +
        '';
    }

    function editTech(tech_id) {
        let new_fname = document.querySelector('#edit_tech_fn').value
        let new_lname = document.querySelector('#edit_tech_ln').value
        let new_id = document.querySelector('#edit_tech_id').value
        new_data.every(e => {
            if (e.id === tech_id) {
                console.log(`Tech found with ID ${tech_id}`)
                console.log(`Old: \n${JSON.stringify(e)}`)
                e.first_name = new_fname
                e.last_name = new_lname
                e.id = new_id
                console.log(`New: \n${JSON.stringify(e)}`)
                return false
            }
            return true
        })

        fetch(`${base_url}/api/v1/techs?old=${tech_id}&new=${new_id}`, {method: 'PUT', body: JSON.stringify(new_data)})
        .then(response => response.json())
        .then(data => {
            try {
                alert(JSON.stringify(data))
                window.location.reload()
            } catch (error) {
                alert(error)
                console.log(error)
            }
        })
        .catch(error => console.log(error))
    }

    function generateReport(tech_id) {
        console.log('Clicked report!')
        // validate information
        let sd = document.querySelector('#report_start_date').value
        let ed = document.querySelector('#report_end_date').value
        if (!sd || !ed) {
            alert('Please select a date range')
            return
        }
        let destination = `generate-report?start=${sd}&end=${ed}${(tech_id === 'ALL' ? '' : `&tech_id=${tech_id}`)}`
        console.log(destination)
        window.open(destination, '_blank')
    }

    function createTableRow(tech) {
        return `` +
        `<tr>` +
            `<td>${tech.first_name} ${tech.last_name}</td>` +
            `<td>${tech.id}</td>` +
            `<td><div class='tableStockListButtonContainer'><button id='tech_report_${tech.id}' class='btn'>Report</button><button id='tech_edit_${tech.id}' class='btn'>Edit</button></div></td>` +
        `</tr>` +
        ``;
    }
</script>
{% endblock %}