{% extends 'template.html' %}

{% block page_title %}
Work Orders Edit | GRID Server
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/work_orders_edit') }}"></script>

<div id='workOrderEditContainer'>
    <!-- Info and Options -->
    <div id='workOrderEditFunctionContainer' style='width: 90%; margin: 0px auto;'>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <!-- Info Accordian -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Info
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id='workOrderInfoContainer'>
                            <div>
                                <p id='workOrderInfoName'><b>Name: </b></p>
                                <p id='workOrderInfoPhone'><b>Phone: </b></p>
                                <p id='workOrderInfoIntake'><b>Intake: </b></p>
                                <p id='workOrderInfoCashier'><b>Cashier: </b></p>
                                <p id='workOrderInfoTech'><b>Tech: </b></p>
                            </div>
                            <div>
                                <p id='workOrderInfoComputer'><b>Computer: </b></p>
                                <p id='workOrderInfoPassword'><b>Password: </b></p>
                                <p id='workOrderInfoWarranty'><b>Warranty: </b></p>
                                <p id='workOrderInfoPowerSupply'><b>Power Supply: </b></p>
                                <p id='workOrderInfoOtherItems'><b>Other Items: </b></p>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <p id='workOrderInfoIssue'><b>Issue: </b></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Options Accordian -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Options
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id='workOrderOptionContainer'>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-status">Status</button>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-price">Price</button>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-call">Call</button>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-note">Note</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Notes and Save/Cancel -->
    <div id='workOrderEditNotesContainer' style='display: grid; width: 90%; margin: auto;'>
        <span style="color: white;">|</span>
        <h4>Notes:</h4>
        <div id='textareaNotes' rows="10" style="width: 100%; margin: auto; min-height: 300px; max-height: 300px; border: 1px solid #bbb; overflow: scroll;" disabled></div>
        <span style="color: white;">|</span>
        <button class="btn btn-success" style='margin: auto; width: 90%; max-width: 500px;' onclick="saveWorkOrder(this)">Save</button>
        <img id='saveNoteLoad' src='static/img/loading.gif' style='width: 32px; height: 32px; margin: auto; display: none;'>
        <script>
            function saveWorkOrder (btn) {
                document.querySelector('#saveNoteLoad').style.display = 'initial';
                btn.style.display = 'none';
                //console.log(workOrderEdit);
                //console.log(JSON.stringify(workOrderEdit));
                let apiURL = `${base_url}/api/v1/work-orders/` + workOrderEdit._id;
                //make POST call and reload
                fetch(apiURL, {method: 'PUT', body: JSON.stringify(workOrderEdit)})
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    alert('Work Order Saved Successfully');
                    window.location.replace('work-orders');
                })
                .catch(error => {
                    console.log(error);
                    alert(error);
                })
            }
        </script>
        <span style="color: white;">|</span>
        <button class="btn btn-secondary" style='margin: auto; width: 90%; max-width: 500px;' onclick="cancelWorkOrderEdit()">Cancel</button>
        <script>
            function cancelWorkOrderEdit() {
                let isLeaving = confirm('Are you sure you want to leave this page without saving (any changes made will be lost)?')
                if (isLeaving) {
                    window.location.replace('work-orders');
                }
            }
        </script>
    </div>
</div>

<!-- Functional Modals -->
<div>
    <!-- Status Modal -->
    <div class="modal fade" tabindex="-1" id='modal-status'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-status'>
                    <p><b>Status: </b> 
                        <select id='inputStatus' style='width: 75%; float: right;' onchange="changeStatusInput(this)">
                            <option value="" hidden selected disabled>Select One...</option>
                            <option value="Awaiting Part">Awaiting Part</option>
                            <option value="Completed">Complete</option>
                            <option value="Donated">Donated</option>
                        </select>
                        <script>
                            function changeStatusInput(dropdown) {
                                switch (dropdown.value) {
                                    case 'Awaiting Part':
                                        //console.log('Selected Awaiting Part');
                                        document.querySelector('#statusAPInput').style.display = 'initial';
                                        document.querySelector('#statusTechInput').style.display = 'none';
                                        document.querySelector('#statusNoteInput').style.display = 'initial';
                                        break;
                                    case 'Completed':
                                        //console.log('Selected Completed');
                                        document.querySelector('#statusAPInput').style.display = 'none';
                                        document.querySelector('#statusTechInput').style.display = 'initial';
                                        document.querySelector('#statusNoteInput').style.display = 'initial';
                                        break;
                                    case 'Donated':
                                        // console.log('Selected Donated');
                                        document.querySelector('#statusAPInput').style.display = 'none';
                                        document.querySelector('#statusTechInput').style.display = 'initial';
                                        document.querySelector('#statusNoteInput').style.display = 'initial';
                                        break;
                                    default:
                                        document.querySelector('#statusAPInput').style.display = 'none';
                                        document.querySelector('#statusTechInput').style.display = 'none';
                                        document.querySelector('#statusNoteInput').style.display = 'none';
                                        // console.log('Error in inputStatus selection function');
                                }
                            }
                        </script>
                    </p>
                    <p id='statusAPInput' style="display: none;"><b>Part: </b> <input type="text" style='width: 75%; float: right;'></p>
                    <p id='statusTechInput' style="display: none;"><b>Tech: </b> <input  type="text" style='width: 75%; float: right;'></p>
                    <p></p>
                    <p id='statusNoteInput' style="display: none;"><b>Note: </b> <input type="text" style='width: 75%; float: right;'></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss='modal' onclick="submitNewStatus()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Price Modal -->
    <div class="modal fade" tabindex="-1" id='modal-price'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Price</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-price'>
                    <p><b>Price: $</b> <input id='inputPriceNote' type="text" style='width: 50%;' placeholder="9.99"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"data-bs-dismiss="modal" onclick="submitNewPriceNote()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Call Modal -->
    <div class="modal fade" tabindex="-1" id='modal-call'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Call</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-call'>
                    <p><b>Purpose: </b> <input id='inputCallNotePurpose' type="text" style='width: 75%; float: right;' placeholder="i.e. Work order is finished"></p>
                    <p><b>Response: </b> <input id='inputCallNoteResponse' type="text" style='width: 75%; float: right;' placeholder="i.e. Will pick up on Saturday"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick='submitNewCallNote()'>Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Note Modal -->
    <div class="modal fade" tabindex="-1" id='modal-note'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-note'>
                    <p><b>Note: </b> <input id='inputNewNote' type="text" style='width: 85%; float: right;' placeholder="i.e. Ran Memtest86; Passed"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitNewGenericNote()" data-bs-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- GET WORK ORDER -->
<script>
    let workOrderOriginal;
    let workOrderEdit;
    fetch(`${base_url}/api/v1/work-orders/{{ wo_id }}`)
        .then(response => response.json())
        .then(data => {
            workOrderOriginal = data;
            workOrderEdit = data;

            //load data into HTML
            document.querySelector('#workOrderInfoName').innerHTML += workOrderOriginal.fname + ' ' + workOrderOriginal.lname;
            document.querySelector('#workOrderInfoPhone').innerHTML += formatPhoneNumberToView(workOrderOriginal.phone1) + (formatPhoneNumberToView(workOrderOriginal.phone2) > 0 ? ', ' + workOrderOriginal.phone2 : '');
            document.querySelector('#workOrderInfoIntake').innerHTML += formatDateString(workOrderOriginal.dt_recieved);
            document.querySelector('#workOrderInfoCashier').innerHTML += workOrderOriginal.cashier;
            document.querySelector('#workOrderInfoTech').innerHTML += workOrderOriginal.starting_tech;
            document.querySelector('#workOrderInfoComputer').innerHTML += workOrderOriginal.model + ' (' + workOrderOriginal.computer_type + ')';
            document.querySelector('#workOrderInfoPassword').innerHTML += (workOrderOriginal.password ? workOrderOriginal.password : 'N/A');
            document.querySelector('#workOrderInfoWarranty').innerHTML += (workOrderOriginal.isUnderWarranty ? 'Yes' : 'No');
            document.querySelector('#workOrderInfoPowerSupply').innerHTML += (workOrderOriginal.isPurchasedFromUs ? 'Yes' : 'No');
            document.querySelector('#workOrderInfoOtherItems').innerHTML += (workOrderOriginal.isWithOtherItems.length > 0 ? workOrderOriginal.isWithOtherItems : 'No');
            document.querySelector('#workOrderInfoIssue').innerHTML += workOrderOriginal.issue_category + ' - ' + workOrderOriginal.issue_description;
            document.querySelector('#textareaNotes').innerHTML += workOrderOriginal.notes;
        })
        .catch(error => {
            document.querySelector('body').innerHTML += error;
            console.log(error);
        });
</script>

{% endblock %}