{% extends 'template.html' %}

{% block page_title %}
Work Orders | GRID Server
{% endblock %}

{% block body %}

<table class="table table-striped table-hover table-bordered" id='tableWorkOrdersArchive' style='max-width: 1024px; margin: auto;'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Computer</th>
            <th>Tech(s)</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id='tableBodyWorkOrdersArchive'>

    </tbody>
</table>

<!--Entry Modal-->
<div class="" id='tableModalContainer'>
    <div class="modal fade" id="modal-wo-viewer">

    </div>
</div>

<!-- Phone No Format SCRIPT -->
<script>

    //from stackoverflow
    //https://stackoverflow.com/questions/8358084/regular-expression-to-reformat-a-us-phone-number-in-javascript
    function formatPhoneNumberToDigits(phoneNumberString) {
        var cleaned = phoneNumberString.replace(/\D/g, '');
        if (cleaned.length == 10) {
            return cleaned;
        }
        return null;
    }
    function formatPhoneNumberToView(phoneNumberString) {
        var cleaned = ('' + phoneNumberString).replace(/\D/g, '');
        var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/);
        if (match) {
            return '(' + match[1] + ') ' + match[2] + '-' + match[3];
        }
        return null;
    }
</script>

<!-- LOAD TABLES -->
<script>
    let workOrdersArchive = [];
    fetch('http://{{ host_ip }}:5000/work-orders/archive')
    .then(response => response.json())
    .then(data => {
        workOrdersArchive = data;
        workOrdersArchive.forEach(item => {
            document.querySelector('#tableBodyWorkOrdersArchive').innerHTML += generateTableRow(item);
        })

    })
    .catch(error => {
        console.log(error);
    });

    function generateTableRow (woData) {
        let rowString = 
            '<tr id="tr_'+woData._id+'" class="align-middle" onclick="displayWorkOrder(this)">' + 
                '<td>' + woData.fname + ' ' + woData.lname + '</td>' + 
                '<td>' + woData.model + ' (' + woData.computer_type + ') </td>' +
                '<td>' + woData.starting_tech + (woData.starting_tech != woData.finishing_tech ? ', ' + woData.finishing_tech : '') + '</td>' +
                '<td>' + woData.status + '</td>' +
            '</tr>' + 
            '';
        return rowString
    }

    function displayWorkOrder(row_id) {
        let woId = row_id.id.replace('tr_', '');
        //alert('Row with ID ' + woId);
        let workOrderForDisplay;
        workOrdersArchive.forEach(item => {
            if (item._id == woId) {
                //console.log(JSON.stringify(item));
                workOrderForDisplay = item;
            }
        })

        let modalString = getModalString(workOrderForDisplay);
        document.querySelector('#modal-wo-viewer').innerHTML = modalString;
        new bootstrap.Modal(document.querySelector('#modal-wo-viewer')).toggle();

    }

    function getModalString(wo) {
         return '' +
         '<div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">' +
            '<div class="modal-content">' +
                '<div class="modal-header">' + 
                    '<h5 class="modal-title">Work Order</h5>' + 
                    '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +                
                '</div>' + 
                '<div class="modal-body">' +
                    getModalBodyString(wo) + 
                '</div>' + 
                '<div class="modal-footer">' + 
                    getModalFooterString(wo) + 
                '</div>' + 
            '</div>' + 
        '</div>';
    }

    function getModalBodyString(wo) {
        let bodyString = 
                '<div>' +
                    '<p><b>Name: </b>' + wo.fname + ' ' + wo.lname + '</p>' +
                    '<p><b>Computer: </b>' + wo.model + ' (' + wo.computer_type + ')</p>' +
                    '<p><b>Issue: </b>' + wo.issue_category + ' - ' + wo.issue_description + '</p>' +
                    '<p><b>Bought From Us: </b>' + (wo.isPurchasedFromUs ? 'Yes' : 'No') + '</p>' +
                    '<p><b>Under Warranty: </b>' + (wo.isUnderWarranty ? 'Yes' : 'No') + '</p>' +
                    '<p><b>Other Items: </b>' + (wo.isWithOtherItems.length > 0 ? wo.isWithOtherItems : 'No') + '</p>' +
                    '<hr>' + 
                    (wo.starting_tech == wo.finishing_tech ? '<p><b>Tech: </b>' + wo.starting_tech + '</p>' : '<p><b>Techs: </b>' + wo.starting_tech + ', ' + wo.finishing_tech + '</p>') + 
                    '<p><b>Date of Completion: </b>' + formatDateString(wo.dt_completed) + '</p>' +
                    '<p><b>Price: </b>' + (wo.price == null || wo.price <= 0 ? '$0.00': Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format(wo.price)) + '</p>' +
                    '<p><b>Notes: </b></p><br>' +
                    '<p>'+wo.notes+'</p>' +
                '</div>';
        
        return bodyString;
    }

    function getModalFooterString(wo) {

    }

    function generateDateBox (woData) {
        let now = new Date();
        let takeIn = new Date(woData.dt_recieved);
        let deltaTimeMilliseconds = now - takeIn; //date subtraction returns milliseconds
        let deltaTimeHours = deltaTimeMilliseconds / 1000 / 3600;
        //console.log('Name: ' + woData.fname + ' ' + woData.lname + '\nNow: ' + now + '\nDT_Recieved: ' + takeIn + '\ndeltaTimeMilliseconds: ' + deltaTimeMilliseconds + '\ndeltaTimeHours: ' + deltaTimeHours + '\n')
        let colorBoxString, colorRed, colorGreen;

        if (deltaTimeHours <= 24) {
            //10.625 RGB per hour up to 255 at 24 hours
            colorRed = (deltaTimeHours * 10.625);
            colorGreen = 255; 
            colorBoxString = 
            '<div class="date_color_box" style="background-color: rgb('+colorRed+', 255, 0);">' + 
            '</div>';
        } else if (deltaTimeHours <= 48) {
            //10.625 RGB per hour up to 255 at 24 hours
            colorRed = 255;
            colorGreen = 255 - ((deltaTimeHours - 24) * 10.625); 
            colorBoxString = 
            '<div class="date_color_box" style="background-color: rgb(255, '+colorGreen+', 0);">' + 
            '</div>';
        } else {
            colorBoxString = 
            '<div class="date_color_box" style="background-color: rgb(255, 0, 0);">' + 
            '</div>';
        }

        return colorBoxString;

    }

    function formatDateString(dateString) {
        date = new Date(dateString);
        dateFormat = {
            weekday: 'short',
            day: 'numeric',
            month: 'short',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric'
        }
        return date.toLocaleDateString('en-UK', dateFormat);
    }
</script>

  
{% endblock %}