{% extends 'template.html' %}

{% block page_title %}
Work Orders | GRID Server
{% endblock %}

{% block body %}

<div id='workOrderEditContainer'>
    <!-- Info and Options -->
    <div id='workOrderEditFunctionContainer' style='width: 90%; margin: 0px auto;'>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <!-- Info Accordian -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Info
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id='workOrderInfoContainer'>
                            <div>
                                <p id='workOrderInfoName'><b>Name: </b></p>
                                <p id='workOrderInfoPhone'><b>Phone: </b></p>
                                <p id='workOrderInfoIntake'><b>Intake: </b></p>
                                <p id='workOrderInfoCashier'><b>Cashier: </b></p>
                                <p id='workOrderInfoTech'><b>Tech: </b></p>
                            </div>
                            <div>
                                <p id='workOrderInfoComputer'><b>Computer: </b></p>
                                <p id='workOrderInfoPassword'><b>Password: </b></p>
                                <p id='workOrderInfoWarranty'><b>Warranty: </b></p>
                                <p id='workOrderInfoPowerSupply'><b>Power Supply: </b></p>
                                <p id='workOrderInfoOtherItems'><b>Other Items: </b></p>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <p id='workOrderInfoIssue'><b>Issue: </b></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Options Accordian -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Options
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id='workOrderOptionContainer'>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-status">Status</button>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-price">Price</button>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-call">Call</button>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-note">Note</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Notes and Save/Cancel -->
    <div id='workOrderEditNotesContainer' style='display: grid; width: 90%; margin: auto;'>
        <span style="color: white;">|</span>
        <h4>Notes:</h4>
        <textarea name="notes" id="" rows="10" style="width: 100%; margin: auto;" disabled></textarea>
        <span style="color: white;">|</span>
        <button class="btn btn-success" style='margin: auto; width: 90%; max-width: 500px;'>Save</button>
        <span style="color: white;">|</span>
        <button class="btn btn-secondary" style='margin: auto; width: 90%; max-width: 500px;' onclick="cancelWorkOrderEdit()">Cancel</button>
        <script>
            function cancelWorkOrderEdit() {
                let isLeaving = confirm('Are you sure you want to leave this page without saving (any changes made will be lost)?')
                if (isLeaving) {
                    window.location.replace('work-orders');
                }
            }
        </script>
    </div>
</div>

<!-- Functional Modals -->
<div>
    <!-- Status Modal -->
    <div class="modal fade" tabindex="-1" id='modal-status'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-status'>
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Price Modal -->
    <div class="modal fade" tabindex="-1" id='modal-price'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Price</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-price'>
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Call Modal -->
    <div class="modal fade" tabindex="-1" id='modal-call'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Call</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-call'>
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Note Modal -->
    <div class="modal fade" tabindex="-1" id='modal-note'>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='modal-body-note'>
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Phone No Format SCRIPT -->
<script>
    //from stackoverflow
    //https://stackoverflow.com/questions/8358084/regular-expression-to-reformat-a-us-phone-number-in-javascript
    function formatPhoneNumberToDigits(phoneNumberString) {
        var cleaned = phoneNumberString.replace(/\D/g, '');
        if (cleaned.length == 10) {
            return cleaned;
        }
        return null;
    }
    function formatPhoneNumberToView(phoneNumberString) {
        var match = phoneNumberString.match(/^(\d{3})(\d{3})(\d{4})$/);
        if (match) {
            return '(' + match[1] + ') ' + match[2] + '-' + match[3];
        }
        return null;
    }

    //my format date function
    function formatDateString(dateString) {
        date = new Date(dateString);
        dateFormat = {
            weekday: 'short',
            day: 'numeric',
            month: 'short',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric'
        }
        return date.toLocaleDateString('en-UK', dateFormat);
    }
</script>

<!-- GET WORK ORDER -->
<script>
    let workOrderOriginal, workOrderEdit;
    fetch('http://{{ host_ip }}:5000/work-orders/{{ wo_id }}')
        .then(response => response.json())
        .then(data => {
            workOrderOriginal = data;
            worOrderEdit = data;

            //load data into HTML
            document.querySelector('#workOrderInfoName').innerHTML += workOrderOriginal.fname + ' ' + workOrderOriginal.lname;
            document.querySelector('#workOrderInfoPhone').innerHTML += formatPhoneNumberToView(workOrderOriginal.phone1) + (formatPhoneNumberToView(workOrderOriginal.phone2) > 0 ? ', ' + workOrderOriginal.phone2 : '');
            document.querySelector('#workOrderInfoIntake').innerHTML += formatDateString(workOrderOriginal.dt_recieved);
            document.querySelector('#workOrderInfoCashier').innerHTML += workOrderOriginal.cashier;
            document.querySelector('#workOrderInfoTech').innerHTML += workOrderOriginal.starting_tech;
            document.querySelector('#workOrderInfoComputer').innerHTML += workOrderOriginal.model + ' (' + workOrderOriginal.computer_type + ')';
            document.querySelector('#workOrderInfoPassword').innerHTML += (workOrderOriginal.password ? workOrderOriginal.password : 'N/A');
            document.querySelector('#workOrderInfoWarranty').innerHTML += (workOrderOriginal.isUnderWarranty ? 'Yes' : 'No');
            document.querySelector('#workOrderInfoPowerSupply').innerHTML += (workOrderOriginal.isPurchasedFromUs ? 'Yes' : 'No');
            document.querySelector('#workOrderInfoOtherItems').innerHTML += (workOrderOriginal.isWithOtherItems.length > 0 ? workOrderOriginal.isWithOtherItems : 'No');
            document.querySelector('#workOrderInfoIssue').innerHTML += workOrderOriginal.issue_category + ' - ' + workOrderOriginal.issue_description;
        })
        .catch(error => {
            document.querySelector('body').innerHTML += error;
            console.log(error);
        });


    function generateDateBox(woData) {
        let now = new Date();
        let takeIn = new Date(woData.dt_recieved);
        let deltaTimeMilliseconds = now - takeIn; //date subtraction returns milliseconds
        let deltaTimeHours = deltaTimeMilliseconds / 1000 / 3600;
        //console.log('Name: ' + woData.fname + ' ' + woData.lname + '\nNow: ' + now + '\nDT_Recieved: ' + takeIn + '\ndeltaTimeMilliseconds: ' + deltaTimeMilliseconds + '\ndeltaTimeHours: ' + deltaTimeHours + '\n')
        let colorBoxString, colorRed, colorGreen;

        if (deltaTimeHours <= 24) {
            //10.625 RGB per hour up to 255 at 24 hours
            colorRed = (deltaTimeHours * 10.625);
            colorGreen = 255;
            colorBoxString =
                '<div class="date_color_box" style="background-color: rgb(' + colorRed + ', 255, 0);">' +
                '</div>';
        } else if (deltaTimeHours <= 48) {
            //10.625 RGB per hour up to 255 at 24 hours
            colorRed = 255;
            colorGreen = 255 - ((deltaTimeHours - 24) * 10.625);
            colorBoxString =
                '<div class="date_color_box" style="background-color: rgb(255, ' + colorGreen + ', 0);">' +
                '</div>';
        } else {
            colorBoxString =
                '<div class="date_color_box" style="background-color: rgb(255, 0, 0);">' +
                '</div>';
        }
        return colorBoxString;
    }
</script>

<!-- EDIT SCRIPTS -->


{% endblock %}